*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: arial, sans-serif;
}

Nav a{
    color: #090909;
    font-weight: bold;
    margin: 0 15px;
}

.top_header{
    background-color: black;
    height: 40px;
}

.sony_logo{
    height: 50%;
}



.jumbo_container{
    height: 800px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.banner_returnal{
    width: 350px;
    margin: 30px 0;
}

.cards{
    margin-bottom: 100px;
}

#cards img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Utility */
.btn{
    border-radius: 20px;
}

.margin_left{
    padding-left: 30px;
    margin-top: 100px;
    padding-top: 100px;
}

/* PS5 */

.ps5_consolle{
    width: 100%;
}

.img_opacity{
    width: 100%;
    opacity: 0.6;
}

/* IT TAKES TWO */

.jumbo_take2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.take2_banner{
    width: 80%;
}

#it_take_two h2{
    padding-top: 40px;
    color: white;
    font-size: 40px;
}

#it_take_two p{
    padding-top: 40px;
    padding-bottom: 30px;
    color: white;
}

/* Nuove uscite */

#nuove_uscite img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}



/* COLOR */


.grey_h1{
    color: #1F1F1F;
    margin-bottom: 40px;
    font-size: 60px ;    
}

.grey_h2{
    color: #787878;
    font-size: 25px;
    font-weight: bold;
}

.blu_p{
    color: #2686D5;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
    
}


.grey_p{
    color: #787878;
    font-weight: bold;
    
}