*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: font-family: Arial, sans-serif;;
}

Nav a{
    color: #090909;
    font-weight: bold;
    margin: 0 15px;
}

.top_header{
    background-color: black;
    height: 40px;
}

.sony_logo{
    height: 50%;
}

.jumbo{
    height: auto;
    width: 100%;
}

.jumbo_container{
    position: relative;
}

.banner_card_returnal{
    position: absolute;
    top: 300px;
    left: 50px;
}

.banner_returnal{
    width: 60%;
    height: auto;
}