*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: arial, sans-serif;
}

.site_header{
    position: sticky;
    top: 0;
    left: 0;
}


Nav a{
    color: #090909;
    font-weight: bold;
    margin: 0 15px;
}

.top_header{
    background-color: black;
    height: 40px;
}

.sony_logo{
    height: 50%;
}



.jumbo_container{
    height: 700px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


.banner_returnal{
    width: 350px;
    margin: 30px 0;
}

.cards{
    margin-bottom: 100px;
}

#cards img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.jpg{
    width: 100%;
    height: auto;
}
/* Utility */
.btn{
    border-radius: 20px;
}


/* PS5 */

.ps5_consolle{
    width: 100%;
}

.img_opacity{
    width: 100%;
    opacity: 0.6;
}

/* IT TAKES TWO */

.jumbo_take2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 1000px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.take2_row{
    padding-left: 50px;
}
.take2_banner{
    padding-top: 200px;
    width: 70%;
}

#it_take_two h2{
    padding-top: 40px;
    color: white;
    font-size: 40px;
}

#it_take_two p{
    padding-top: 40px;
    padding-bottom: 30px;
    
    color: white;
}

/* Nuove uscite */

#nuove_uscite img{
    width: 100%;
    height: auto;
    padding: 0 20px;
    border-radius: 20px;
}

.nuove_uscite{
    background-color: #1F1F1F;
    padding: 0 50px;
}



.play{
    background-color: #BEBCBB;
}


.plus_logo{
    width: 100%;
}


/* ESPLORA */

.esplora{
    padding: 50px 0;
}

.esplora_p{
    padding-top: 30px;
    padding-bottom: 50px;
}

/* PlaystationPlus */


.plus_container{
    padding-left: 20px;
    padding: 50px 0;
}

.color{
    background-color: #BEBCBB;
    height: 100%;
}

/* playstationeNow */
.now_container{
    padding-left: 50px;
}

.color_bgblu{
    background-color: #161C3B;
}


/*Social */

#social img{
    width: 100%;
}

#social h3{
    font-size: 80px;
    font-weight: 500;
    padding: 100px 0;
}

.youtube{
    margin-bottom: 100px;
}






/* COLOR */

.white_p{
    padding-top: 10px;
    color: white;
    font-size: 25px;
}

.grey_h1{
    color: #1F1F1F;
    margin-bottom: 40px;
    font-size: 60px ;    
}

.white_h2{
    font-size: 40px;
    color: white;
}
.grey_h2{
    color: #787878;
    font-size: 25px;
    font-weight: bold;
}

.blu_p{
    color: #2686D5;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
    
}


.grey_p{
    color: #787878;
    font-weight: bold;
    
} 